html {
  font-size: 16px;
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
}

h2 {
  margin: 0.5px;
}

#root {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: auto;
  max-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: auto;
  max-height: 100vh;
}

.spacer {
  padding: 0 1ch;
}
.font-bold {
  font-weight: bold;
}

.duty-section {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.duty-list {
  margin-top: 0;
  list-style-type: none;
  overflow: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
}

.duty-card {
  text-align: start;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 0.6em 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #646cff29;
  width: min(100%, 240px);
  border-radius: 8px;

  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.duty-card:hover {
  background-color: #646cff61;
}

.duty-card:disabled {
  background-color: #f2f2f2;
  color: #aaa;
  border-color: #ddd;
  cursor: not-allowed;
}

.duty-card:focus {
  outline: 2px solid #646cff;
  outline-offset: 2px;
}

.warning {
  font-size: 0.8rem;
}

.warning-text {
  font-style: italic;
}

.duty-section {
  display: flex;
  flex-direction: column;
}

.duty-manager-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #000;
  border-radius: 5px;
}
