.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

.duty-manager {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex; */
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
}

.spacer {
  padding: 0 1ch;
}
.font-bold {
  font-weight: bold;
}

.duty-list {
  display: flex;
  flex-direction: column;
}

.duty-card {
  text-align: start;
  border: 1px solid #007bff;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #e9f2ff;
  width: 230px;
  border-radius: 8px;
}

.duty-card:hover {
  background-color: #d0e4ff;
}

.duty-card:disabled {
  background-color: #f2f2f2;
  color: #aaa;
  border-color: #ddd;
  cursor: not-allowed;
}

.warning {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.warning-text {
  font-style: italic;
}

.duty-list {
  display: flex;
  flex-direction: column;
}

.duty-manager-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #000;
}
